{% load i18n %}
{% if is_paginated %}
<div class="w3-row">
    <div class="w3-col s12 w3-center">
        <div class="w3-bar">
            {% if page_obj.has_previous %}
                <a class="w3-button w3-teal w3-round-large" href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
            {% else %}
                <a class="w3-button w3-round-large" href="#">{% trans "Previous" %}</a>
            {% endif %}
                <a class="w3-margin-1">
                {% blocktrans with page_number=page_obj.number total_pages=page_obj.paginator.num_pages %}
                {{ page_number }}/{{ total_pages }}
                {% endblocktrans %}
                </a>
            {% if page_obj.has_next %}
                <a class="w3-button w3-teal w3-round-large" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
            {% else %}
                <a class="w3-button w3-round-large" href="#">{% trans "Next" %}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
