{% extends 'base.html' %}
{% load i18n %}


{% block principal %}
<div class="w3-container">
	<div class="w3-black w3-border w3-display-middle">
	    {% block main-bar %}
	        <div class="w3-orange">
	            <div class="w3-bar">
	                <div class="w3-bar-item">{% block ss_bar-title %}{% trans "Error: missing page." %}{% endblock %}</div>
	                <div class="w3-right">
	                	<a href="/" class="w3-bar-item w3-button w3-right">&times;</a>
	                </div>
	            </div>
	        </div>
	    {% endblock %}
    {% block main-page %}
        <h4 class="w3-marging w3-padding-32 w3-center">
        {% trans "This page does not exist. Please re-enter a new address." %}
        </h4>
    {% endblock %}
	</div>
</div>
{% endblock %}

