{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% trans "All photos" %}{% endblock %}
{% block app_ss_title %}{% trans "All photos" %}{% endblock %}
{% block content %}
	<div class="w3-row">
	    <div class="w3-col l12">
	        <h1>{% trans "All photos" %}</h1>
	    </div>
	</div>
	{% if object_list %}
	<div class="w3-row">
	    <div class="w3-col l12 photo-list">
	        {% for photo in object_list %}
	        <a href="{{ photo.get_absolute_url }}">
	            <img src="{{ photo.get_thumbnail_url }}" class="img-thumbnail" alt="{{ photo.title }}">
	        </a>
	        {% endfor %}
	    </div>
	</div>
	{% else %}
	<div class="w3-row">
	   <div class="w3-col l12">{% trans "No photos were found" %}.</div>
	</div>
	{% endif %}
	{% include "photologue/includes/paginator.html" %}
{% endblock %}
